body {
    background-color: #2fbbb2;
}

#name{
    text-transform: capitalize;
    text-align: center;
    float: left;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

#btn1 {
    float: left;
   
}

#btn1:hover{
    background-color: #249991;

}

#btn2 {
    float: right;
}

#btn2:hover, #btn-event:hover, table thead.thead-dark  th{
    background-color: #249991!important;

}

.table {
    /* border: 2px solid black; */
}
.container {
    padding: 50px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#btn-event {
    float: left;
    margin-right: 30px;
}

.para{
    padding-top: 6px;
}

.cfaredush{
    background-color: #249991;
    color: white;
}
.event {
    position: relative;
}
.event::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 7px;
    position: absolute;
    top: 20px;
    left: calc(50% - 4px);
    background-color: #249991;
}
